body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title-text {
  font-size: 18px;
  font-weight: 900;
  font-family: monospace;
}

.nav-item-custom {
  padding: 10px 20px;
}

.nav-item-custom:hover {
  background-color: rgba(255,255,255,.1);
  border-radius: 10px;
}

.nav-link {
  color: ffc107;
}

.logo-back-20 {
  left: -20px;
  z-index: -1;
}

.logo-text-on-top {
  z-index: 3;
}